{{!-- <h1>{{0.name}}</h1>
<div>
  <ul>
    <li>Capital: {{0.capital}}</li>
    <li>Population: {{0.population}}</li>
    <li>Languages:
      <ul>
        {{#each 0.languages}}
          <li> {{this.name}} </li>
        {{/each}}
      </ul>
    </li>

  </ul>

  <img src='{{0.flags}}' alt='{{0.name}} flag' />
</div> --}}

{{!-- {{#each this}}
  <div>
    <h1>{{name.common}}</h1>
    <div>
      <div>
        <p>Capital: {{capital}}</p>
        <p>Population: {{population}}</p>
        <p>Languages:</p>
        <ul>
          {{#each languages}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div>
        <img src='{{flags.0}}' alt='flag {{name.common}}' width='250px' />
      </div>
    </div>
  </div>
{{/each}} --}}